.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d3557;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.3s ease;

  &:hover {
    color: #ffdd57;
  }
}
